Within the dataset Data2(EDDC_HF_data_filtered_OS.json) (1651 clientvisitguids), the clientvisitids appearing in the Yiye's file(EDDC_order_2012_2018_cluster_MED_task_YY.xlsx) (1412 clientvisitguids) will be treated as training data, and the rest of clientvisitids will be treated as testing data

In [1]:
import json
import csv
import pandas as pd

In [2]:
path = '/Users/fan/Desktop/Fullhouse/WCM/HospitalManagement/OrderAnalysis-master/'

In [3]:
order_task = pd.read_csv(path + 'order_2012_2018_task_all_new.csv', header=0)
#location = pd.read_csv(path + 'Data/clientlocation_2012_2018_pull2_new.csv', header = 0)
#clientvisit = pd.read_csv(path + 'Data/clientvisit_2012_2018_pull2_new.csv', header = 0)
#demo = pd.read_csv(path + 'Data/demographic_2012_2018_pull2_new.csv', header = 0)
#diag = pd.read_csv(path + 'Data/diag_2012_2018_pull2_new.csv')

/Applications/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
## all ids
alldata = pd.read_excel(path + 'EDDC_order_2012_2018_cluster_MED_task_yifanfinal_1651.xlsx', header=0)
alldata.head()

,clientvisitguid,LOS,30day,60day,90day,dischargedisposition,home,death,Elixhauser,Charlson,...,gender_raw,race_raw,marital_raw,ethnicity,language,gender,race,marital,OSpercent,payor
0,1000120800270,2,0,0,0,ROUTINE/HOME,1,0,4,4,...,Male,Other Not Described,Single,unknown,English,Male,Other,NotMarried,0.490741,Medicaid
1,1000124200270,4,1,1,1,ROUTINE/HOME,1,0,4,2,...,Male,Black/African Am.,Single,N,English,Male,Black,NotMarried,0.304598,Medicaid
2,1000155300270,15,0,0,0,ROUTINE/HOME,1,0,3,1,...,Male,White,Single,N,English,Male,White,NotMarried,0.309249,Dual
3,1000634700270,15,0,0,0,ROUTINE/HOME,1,0,3,1,...,Male,White,Single,N,English,Male,White,NotMarried,0.332673,Medicare
4,1001023900270,9,0,0,0,ROUTINE/HOME,1,0,2,1,...,Male,W,W,N,English,Male,White,NotMarried,0.353147,Medicare

In [24]:
train_data = alldata[alldata.iloc[:,0].isin(train_id)]
train_data

,clientvisitguid,LOS,30day,60day,90day,dischargedisposition,home,death,Elixhauser,Charlson,...,gender_raw,race_raw,marital_raw,ethnicity,language,gender,race,marital,OSpercent,payor
0,1000120800270,2,0,0,0,ROUTINE/HOME,1,0,4,4,...,Male,Other Not Described,Single,unknown,English,Male,Other,NotMarried,0.490741,Medicaid
2,1000155300270,15,0,0,0,ROUTINE/HOME,1,0,3,1,...,Male,White,Single,N,English,Male,White,NotMarried,0.309249,Dual
3,1000634700270,15,0,0,0,ROUTINE/HOME,1,0,3,1,...,Male,White,Single,N,English,Male,White,NotMarried,0.332673,Medicare
5,1001176600270,1,0,0,0,DISCHARGE TO OTHER FAC NOT LISTED,0,0,4,3,...,Male,White,Single,N,English,Male,White,NotMarried,0.431818,Medicaid
6,1001771000270,2,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,2,1,...,Female,Asian,Widower,N,Non-English,Female,Asian,NotMarried,0.540541,Medicare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1699,999130900270,3,0,0,0,ROUTINE/HOME,1,0,2,2,...,Female,Other Not Described,Single,H,English,Female,Other,NotMarried,0.245283,Medicare
1700,999139900270,1,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,3,2,...,Female,Declined,Widower,unknown,English,Female,Unknown,NotMarried,0.369863,Medicare
1701,999619900270,11,0,0,0,DISCHARGE TO SNF,0,0,4,2,...,Female,Asian,Single,N,Non-English,Female,Asian,NotMarried,0.340858,Medicare
1702,999912100270,11,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,1,1,...,Male,Black/African Am.,Single,N,English,Male,Black,NotMarried,0.368750,Medicare
1703,999946300270,5,0,0,0,ROUTINE/HOME,1,0,3,2,...,Female,Black/African Am.,Divorced,N,English,Female,Black,NotMarried,0.472081,Commercial

In [25]:
train_data.to_excel(path + 'train_data.xlsx', index=False)

In [26]:
test_data = alldata[alldata.iloc[:,0].isin(test_id)]
test_data

,clientvisitguid,LOS,30day,60day,90day,dischargedisposition,home,death,Elixhauser,Charlson,...,gender_raw,race_raw,marital_raw,ethnicity,language,gender,race,marital,OSpercent,payor
1,1000124200270,4,1,1,1,ROUTINE/HOME,1,0,4,2,...,Male,Black/African Am.,Single,N,English,Male,Black,NotMarried,0.304598,Medicaid
4,1001023900270,9,0,0,0,ROUTINE/HOME,1,0,2,1,...,Male,W,W,N,English,Male,White,NotMarried,0.353147,Medicare
7,1002721000270,4,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,3,1,...,Male,Asian,Single,N,Non-English,Male,Asian,NotMarried,0.265700,Medicare
9,1004509300270,3,0,0,0,ROUTINE/HOME,1,0,3,1,...,Male,Other Not Described,Single,H,English,Male,Other,NotMarried,0.255814,Medicaid
11,1005027500270,4,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,5,3,...,Female,White,Single,N,English,Female,White,NotMarried,0.240196,Medicare
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1644,984201000270,2,0,0,0,ROUTINE/HOME,1,0,2,2,...,Male,White,Married,N,English,Male,White,Married,0.550000,Medicare
1654,987295600270,13,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,2,1,...,Male,A,M,N,Non-English,Male,Asian,Married,0.272727,Medicare
1673,992285300270,1,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,5,3,...,Female,Black/African Am.,Widower,N,English,Female,Black,NotMarried,0.471910,Medicare
1692,997386100270,3,0,0,0,DISCHARGE HOME WITH HM HLTH SERV,0,0,4,1,...,Male,Other Not Described,Single,H,English,Male,Other,NotMarried,0.380510,Medicare
1697,998178500270,8,0,0,0,ROUTINE/HOME,1,0,4,1,...,Female,Korean,Widower,N,Non-English,Female,Asian,NotMarried,0.426036,Medicare

In [27]:
test_data.to_excel(path + 'test_data.xlsx', index=False)

In [3]:
fh = open(path + 'Data/EDDC_HF_data_filtered_OS.json','r')

In [4]:
data = json.load(fh)

In [5]:
with open(path + 'Data/allpatients.csv', 'w+') as f:
    for pid in data:
            print(pid, file = f, sep = ' ')

Load all the patient ids

In [6]:
allpatients = list(alldata['clientvisitguid'])

In [7]:
allpatients

[1000120800270,
 1000124200270,
 1000155300270,
 1000634700270,
 1001023900270,
 1001176600270,
 1001771000270,
 1002721000270,
 1002827500270,
 1004509300270,
 1004549000270,
 1005027500270,
 1005065000270,
 1005144400270,
 1005518500270,
 1005547000270,
 1005619700270,
 1005666700270,
 1005938300270,
 1006137500270,
 1006200000270,
 1006218700270,
 1006778700270,
 1007524400270,
 1008310400270,
 1008374100270,
 1008380900270,
 1008405700270,
 1008436800270,
 1008487300270,
 1008760100270,
 1010063700270,
 1011065500270,
 1011151100270,
 1011331400270,
 1011739000270,
 1011810500270,
 1012091300270,
 1012820000270,
 1013154400270,
 1013255800270,
 1013341500270,
 1013345800270,
 1013604900270,
 1014393100270,
 1014970200270,
 1015348000270,
 1015858600270,
 1016068400270,
 1016174700270,
 1016448800270,
 1016551300270,
 1017218600270,
 1017710500270,
 1018849100270,
 1019198400270,
 1019985700270,
 1020060200270,
 1020726900270,
 1020983800270,
 1021251900270,
 1021276100270,
 1021304200270,
 1021397200270,
 1021500600270,
 1021540100270,
 1021553500270,
 1021558500270,
 1022528000270,
 1022641800270,
 1023080700270,
 1023172100270,
 1023252900270,
 1023407600270,
 1023696100270,
 1024240900270,
 1024254000270,
 1024265400270,
 1024489600270,
 1024660500270,
 1025177600270,
 1025895300270,
 1026284100270,
 1026625700270,
 1026667300270,
 1026733500270,
 1026864700270,
 1026925700270,
 1027466500270,
 1027607500270,
 1028844000270,
 1029125900270,
 1029341600270,
 1029548700270,
 1029597200270,
 1030300200270,
 1030395100270,
 1030597400270,
 1030854800270,
 1031112000270,
 1031323300270,
 1031383900270,
 1031544300270,
 1031574300270,
 1031633400270,
 1031644100270,
 1031896200270,
 1032182300270,
 1032645700270,
 1032759300270,
 1032932200270,
 1033156800270,
 1033294400270,
 1033333600270,
 1033434400270,
 1033472600270,
 1033542500270,
 1034344100270,
 1034380300270,
 1034413400270,
 1034661100270,
 1034943900270,
 1034951500270,
 1035050600270,
 1035284600270,
 1035384300270,
 1035419100270,
 1035882400270,
 1036035900270,
 1036071700270,
 1036577900270,
 1036714900270,
 1037061700270,
 1037121600270,
 1037154400270,
 1037155800270,
 1037175700270,
 1037220100270,
 1037248400270,
 1037593900270,
 1038153600270,
 1038265900270,
 1038565400270,
 1038578700270,
 1039750600270,
 1039761700270,
 1039777600270,
 1039833200270,
 1039887000270,
 1040071000270,
 1040447500270,
 1040807700270,
 1041000800270,
 1041465600270,
 1041505500270,
 1042031600270,
 1042206100270,
 1042293400270,
 1042415500270,
 1042416000270,
 1042462600270,
 1042542800270,
 1042583100270,
 1043391600270,
 1044605100270,
 1044630900270,
 1045081300270,
 1045088900270,
 1045224500270,
 1045243700270,
 1046017500270,
 1046638700270,
 1047320800270,
 1047493600270,
 1048882100270,
 1049056200270,
 1049382700270,
 1050245600270,
 1051111400270,
 1051253100270,
 1051917800270,
 1052357800270,
 1052595900270,
 1052650600270,
 1052820000270,
 1052833000270,
 1052923500270,
 1052926300270,
 1053112500270,
 1053282300270,
 1053467000270,
 1054057400270,
 1055006200270,
 1055037100270,
 1055094900270,
 1055533200270,
 1056251800270,
 1056577800270,
 1057182600270,
 1057337400270,
 1057944600270,
 1057987600270,
 1058150300270,
 1058241500270,
 1058583300270,
 1058862700270,
 1059394000270,
 1059484100270,
 1060341400270,
 1060555700270,
 1060616600270,
 1060631400270,
 1060697300270,
 1061038600270,
 1061182700270,
 1061228600270,
 1061764300270,
 1061827100270,
 1061869900270,
 1062268400270,
 1062396900270,
 1062560900270,
 1062831300270,
 1063197400270,
 1063390800270,
 1063493900270,
 1063508700270,
 1063511100270,
 1063547600270,
 1064184700270,
 1064381500270,
 1064615800270,
 1064638900270,
 1064664200270,
 1065506500270,
 1065662400270,
 1066115700270,
 1066155000270,
 1066817500270,
 1067009100270,
 1067108400270,
 1067303800270,
 1067472800270,
 1068193600270,
 1068409200270,
 1068839800270,
 1068941600270,
 1068967900270,
 1069295500270,
 1069508100270,
 1069584700270,
 1069744600270,
 1070402500270,
 1070885500270,
 1070985600270,
 1071165400270,
 1071666000270,
 1071746300270,
 1072123400270,
 1072597800270,
 1073180500270,
 1073247200270,
 1075046000270,
 1075882300270,
 1075947500270,
 1075976800270,
 1076096200270,
 1076191500270,
 1077020100270,
 1077550700270,
 1078199600270,
 1078263000270,
 1078877900270,
 1078954200270,
 1078981500270,
 1079001000270,
 1079034400270,
 1079117300270,
 1079144900270,
 1079232500270,
 1079758700270,
 1079767400270,
 1081648000270,
 1081966300270,
 1082318900270,
 1082609300270,
 1082698900270,
 1082702900270,
 1082978300270,
 1083452900270,
 1083528900270,
 1083976100270,
 1084271100270,
 1084418100270,
 1085025300270,
 1085109300270,
 1086015800270,
 1086057200270,
 1086373800270,
 1086430200270,
 1086475000270,
 1086509300270,
 1086517200270,
 1086535000270,
 1086560600270,
 1087162800270,
 1087614900270,
 1087662400270,
 1088094700270,
 1088769500270,
 1088770700270,
 1088847400270,
 1088880200270,
 1088886900270,
 1088927000270,
 1089018400270,
 1089678200270,
 1089910800270,
 1090426900270,
 1090478300270,
 1092290700270,
 1092523600270,
 1092588000270,
 1093471400270,
 1094284500270,
 1094892300270,
 1095101500270,
 1095496900270,
 1096386900270,
 1096535900270,
 1096540400270,
 1097666500270,
 1098135100270,
 1098409900270,
 1098973000270,
 1099819700270,
 1100018500270,
 1100226200270,
 1100341800270,
 1101458200270,
 1101512300270,
 1102406000270,
 1102640300270,
 1103203000270,
 1103247800270,
 1103647100270,
 1103695100270,
 1103866300270,
 1104231800270,
 1104290500270,
 1104389700270,
 1104405800270,
 1104627400270,
 1104746300270,
 1104774800270,
 1104908900270,
 1104920700270,
 1104953800270,
 1105479700270,
 1105913400270,
 1105932200270,
 1105952800270,
 1105974500270,
 1106024800270,
 1106339600270,
 1106398600270,
 1106877300270,
 1107845700270,
 1108038500270,
 1108264400270,
 1108354800270,
 1108365900270,
 1108405200270,
 1108507900270,
 1108547200270,
 1108759500270,
 1109116100270,
 1109222400270,
 1109490400270,
 1109684900270,
 1110029700270,
 1110780600270,
 1110815600270,
 1110845000270,
 1111232700270,
 1111633500270,
 1112309900270,
 1112318400270,
 1112333900270,
 1112335100270,
 1112348100270,
 1112362600270,
 1112453500270,
 1112464200270,
 1112949600270,
 1113112900270,
 1113337200270,
 1114116800270,
 1115258800270,
 1115626100270,
 1116963000270,
 1117064500270,
 1117198300270,
 1117768600270,
 1117911500270,
 1118388500270,
 1118559800270,
 1118666700270,
 1119344900270,
 1119371900270,
 1119384000270,
 1119390400270,
 1119391500270,
 1119510800270,
 1119565000270,
 1120279700270,
 1122902200270,
 1123276300270,
 1123292600270,
 1123307500270,
 1123322300270,
 1123334600270,
 1123348900270,
 1123360900270,
 1123640800270,
 1124082300270,
 1124832900270,
 1125634500270,
 1126949300270,
 1127005600270,
 1127020400270,
 1127043600270,
 1127051300270,
 1127460400270,
 1128622100270,
 1128902600270,
 1129437000270,
 1129934300270,
 1130161800270,
 1130282300270,
 1130794000270,
 1130834800270,
 1130869600270,
 1131564200270,
 1131681700270,
 1132040900270,
 1132695800270,
 1132743200270,
 1133189700270,
 1133408900270,
 1133567300270,
 1133794300270,
 1134747300270,
 1134950300270,
 1134997500270,
 1135031000270,
 1135748000270,
 1135763500270,
 1136434200270,
 1136534700270,
 1137054200270,
 1137107500270,
 1137222900270,
 1137268500270,
 1137808300270,
 1137898400270,
 1138497200270,
 1138540100270,
 1138547400270,
 1139061900270,
 1139090300270,
 1139092200270,
 1139094600270,
 1139156700270,
 1139433300270,
 1139543800270,
 1139557800270,
 1140327500270,
 1140369000270,
 1140461500270,
 1140483300270,
 1140573400270,
 1140989900270,
 1141797200270,
 1141864200270,
 1142492800270,
 1142706400270,
 1142965100270,
 1143294000270,
 1143998000270,
 1144030000270,
 1144033700270,
 1144257100270,
 1144335000270,
 1144382000270,
 1144580200270,
 1145101200270,
 1145180400270,
 1145234100270,
 1145364300270,
 1145852600270,
 1145898800270,
 1146504300270,
 1146516300270,
 1146652100270,
 1146735800270,
 1146742800270,
 1146841500270,
 1146937800270,
 1147096100270,
 1147147600270,
 1147157200270,
 1147251900270,
 1147345500270,
 1147662100270,
 1147679400270,
 1147772800270,
 1147957300270,
 1148086400270,
 1148298400270,
 1149448300270,
 1150533800270,
 1150559600270,
 1150561900270,
 1150680800270,
 1150891100270,
 1151194600270,
 1151289200270,
 1151338700270,
 1151753500270,
 1151795700270,
 1151839900270,
 1151874200270,
 1152524700270,
 1153872900270,
 1153946900270,
 1153999000270,
 1154237000270,
 1154645300270,
 1154725400270,
 1154728800270,
 1154833100270,
 1155132700270,
 1155343900270,
 1155430800270,
 1155870300270,
 1156508600270,
 1156614200270,
 1157337500270,
 1157423500270,
 1157502700270,
 1157621100270,
 1157642700270,
 1157663000270,
 1157687100270,
 1157974600270,
 1158988800270,
 1159085700270,
 1160703100270,
 1161081500270,
 1161153600270,
 1161166900270,
 1161193900270,
 1161515900270,
 1161877700270,
 1161881700270,
 1162233200270,
 1162665900270,
 1162939100270,
 1163218400270,
 1163655900270,
 1163869400270,
 1164070700270,
 1164218900270,
 1164321300270,
 1164453800270,
 1164863000270,
 1164866400270,
 1164921100270,
 1164934900270,
 1164940300270,
 1165524000270,
 1165621700270,
 1166417800270,
 1166451700270,
 1166599200270,
 1167241700270,
 1168403200270,
 1168425500270,
 1168430500270,
 1168478800270,
 1168493200270,
 1169128300270,
 1169417900270,
 1169719000270,
 1170061900270,
 1170806400270,
 1170830800270,
 1170966600270,
 1170983100270,
 1171183100270,
 1171315600270,
 1171950100270,
 1172050300270,
 1172123300270,
 1172129700270,
 1172149300270,
 1172224500270,
 1172290100270,
 1172661200270,
 1173485600270,
 1173734500270,
 1173769300270,
 1173777100270,
 1174110500270,
 1174192100270,
 1174204400270,
 1174359300270,
 1174426900270,
 1174466000270,
 1175183600270,
 1175772200270,
 1175857400270,
 1175910500270,
 1175917800270,
 1176464400270,
 1176574600270,
 1176608700270,
 1176625400270,
 1176846300270,
 1177815700270,
 1177953800270,
 1178374800270,
 1179124700270,
 1179229100270,
 1179229900270,
 1179361700270,
 1179368400270,
 1179372000270,
 1179389900270,
 1179423800270,
 1179429500270,
 1179596500270,
 1180223000270,
 1180232100270,
 1180467800270,
 1180628200270,
 1180985900270,
 1181267100270,
 1182298300270,
 1183064500270,
 1183252500270,
 1183831500270,
 1184002500270,
 1184179500270,
 1184579500270,
 1185127300270,
 1185166200270,
 1185872900270,
 1186949900270,
 1187189200270,
 1188841900270,
 1189423900270,
 1189428800270,
 1189587700270,
 1189761100270,
 1190326000270,
 1190777500270,
 1191054600270,
 1191330100270,
 1191339300270,
 1191425900270,
 1191626600270,
 1191701000270,
 1191790000270,
 1191814400270,
 1192270300270,
 1192397400270,
 1192647900270,
 1192844000270,
 1193136800270,
 1193143800270,
 1193166000270,
 1194789400270,
 1195612000270,
 1195869200270,
 1196392800270,
 1196423300270,
 1196536800270,
 1196757000270,
 1197484400270,
 1197506200270,
 1197656000270,
 1197791300270,
 1197850700270,
 1198789200270,
 1198844600270,
 1199023900270,
 1199036000270,
 1199107500270,
 1199878800270,
 1200564200270,
 1201194800270,
 1201305200270,
 1202235700270,
 1202646600270,
 1202656500270,
 1203393100270,
 1203426300270,
 1204705400270,
 1205103600270,
 1205152300270,
 1206128700270,
 1206160400270,
 1206888900270,
 1206891600270,
 1207204300270,
 1207508300270,
 1208119900270,
 1208269300270,
 1208490200270,
 1208661300270,
 1209213100270,
 1209542700270,
 1209675100270,
 1211035800270,
 1211299600270,
 1211682500270,
 1212260100270,
 1212284600270,
 1212407500270,
 1213056600270,
 1213095600270,
 1213409300270,
 1213508300270,
 1214931700270,
 1215082600270,
 1215232000270,
 1215438700270,
 1216476800270,
 1216484000270,
 1216554300270,
 1216568000270,
 1216906000270,
 1217202600270,
 1217235900270,
 1217549800270,
 1219231300270,
 1219793500270,
 1219856200270,
 1219864300270,
 1220134000270,
 1220441100270,
 1221808200270,
 1221936300270,
 1221988600270,
 1222519600270,
 1223090900270,
 1223201400270,
 1223393300270,
 1223874800270,
 1224174300270,
 1224183400270,
 1224221600270,
 1224756700270,
 1225166800270,
 1225181100270,
 1225771000270,
 1226275500270,
 1226395400270,
 1226438500270,
 1226442200270,
 1226650000270,
 1227062200270,
 1229215400270,
 1230419000270,
 1231182100270,
 1231401900270,
 1232089200270,
 1232695300270,
 1232809200270,
 1232812500270,
 1232815900270,
 1232844900270,
 1232942000270,
 1233365500270,
 1233505500270,
 1233578900270,
 1233639400270,
 1233657900270,
 1234306600270,
 1234738100270,
 1235027000270,
 1235396900270,
 1235663600270,
 1235742900270,
 1235753500270,
 1236382900270,
 1236427700270,
 1236492200270,
 1236514000270,
 1237282900270,
 1238527000270,
 1238991200270,
 1239300100270,
 1239308400270,
 1239995300270,
 1239996900270,
 1240004700270,
 1240255500270,
 1240261800270,
 1240264600270,
 1240984200270,
 1241576600270,
 1241780400270,
 1241929400270,
 1242103700270,
 1242149100270,
 1242170500270,
 1242227200270,
 1242256700270,
 1242347900270,
 1242383600270,
 1242846500270,
 1243223000270,
 1243496700270,
 1243520100270,
 1243635500270,
 1244284900270,
 1244347000270,
 1244700400270,
 1244818100270,
 1244825800270,
 1245883600270,
 1246400900270,
 1246404200270,
 1246979700270,
 1247107300270,
 1247122400270,
 1247225500270,
 1247229700270,
 1247517500270,
 1247873000270,
 1248055100270,
 1248529500270,
 1248771000270,
 1249037700270,
 1249242200270,
 1249522900270,
 1249612100270,
 1250210700270,
 1250413100270,
 1250539200270,
 1250578700270,
 1250878400270,
 1250916700270,
 1251000500270,
 1251449200270,
 1251701600270,
 1251730500270,
 1251915900270,
 1252097700270,
 1252446000270,
 1252507300270,
 1252934300270,
 1253044500270,
 1253200300270,
 1253407900270,
 1254081100270,
 1254222800270,
 1254294400270,
 1254493700270,
 1254562500270,
 1254579600270,
 1254636200270,
 1254948100270,
 1256154500270,
 1257528700270,
 1257579500270,
 1257904300270,
 1258266900270,
 1258335100270,
 1258763000270,
 1259030500270,
 1259267100270,
 1259325200270,
 1259587100270,
 1259709100270,
 1260233900270,
 1260567600270,
 1260570500270,
 1260933100270,
 1261003500270,
 1261274500270,
 1261373800270,
 1261566300270,
 1261803900270,
 1261889000270,
 1262025100270,
 1262538100270,
 1262686400270,
 1262745700270,
 1263124200270,
 1263746900270,
 1264106000270,
 1264531800270,
 1264853300270,
 1264870700270,
 1264963300270,
 1265170900270,
 1265595100270,
 1265609400270,
 1265701200270,
 1265725000270,
 1265985500270,
 1266342500270,
 1267697800270,
 1267842000270,
 1267862900270,
 1267876400270,
 1267903500270,
 1268141600270,
 1268682700270,
 1268912600270,
 1269084300270,
 1270810600270,
 1271121600270,
 1271511400270,
 1271703900270,
 1271734400270,
 1271803700270,
 1272344700270,
 1272408600270,
 1273735100270,
 1273899200270,
 1274504100270,
 1274664700270,
 1275185300270,
 1275474600270,
 1275904000270,
 1276744100270,
 1277843700270,
 1279154100270,
 1279229500270,
 1279481500270,
 1279949200270,
 1281548600270,
 1282144100270,
 1282574700270,
 1282870100270,
 1282891400270,
 1282931300270,
 1283296000270,
 1283860800270,
 1283883400270,
 1284311200270,
 1284903800270,
 1284909400270,
 1285016600270,
 556943700270,
 561002000270,
 562000000270,
 567313100270,
 579333200270,
 582002300270,
 584744300270,
 608150700270,
 624731800270,
 624817200270,
 653284000270,
 684111000270,
 685155700270,
 685526500270,
 737643900270,
 763338100270,
 763976700270,
 766032300270,
 768628200270,
 771224000270,
 774599200270,
 778172900270,
 778912000270,
 781162000270,
 786831400270,
 787961400270,
 789394000270,
 789853200270,
 790112500270,
 790635800270,
 790857300270,
 791127000270,
 791130400270,
 791560800270,
 791730100270,
 791835100270,
 792864300270,
 792925100270,
 793140600270,
 793251400270,
 793451300270,
 ...]

In [6]:
allpatients = pd.read_csv(path + 'Data/allpatients.csv', header=None, names=['ID'])

In [7]:
allpatients

                 ID
0     1000120800270
1     1000124200270
2     1000155300270
3     1000634700270
4     1001023900270
...             ...
1696   999130900270
1697   999139900270
1698   999619900270
1699   999912100270
1700   999946300270

[1701 rows x 1 columns]

In [8]:
allpatients['ID'].nunique()

1701

Load train patient ids

In [8]:
## File Yiye created before for order_task
ordertask_med = pd.read_excel(path + 'EDDC_order_2012_2018_cluster_MED_task_YY.xlsx', sheet_name = 'EDDC_order_2012_2018_cluster', header = 0)

In [9]:
ordertask_med.head()

,clientvisitid,clientvisitguid,cluster_pull2,cluster_notcancelled,cluster_notcancelld_4,OSpercent,age,LOS,30day,60day,...,marital,language_raw,language,ethnicity_raw,ethnicity,race_raw,race,death,insurance,payor
0,9000556943700270,556943700270,1,1,1,0.206897,79,8,0,0,...,Married,Spanish,Non-English,H,H,OtherNotDescribed,Other,0,MCRFFS,Medicare
1,9000562000000270,562000000270,1,1,1,0.266667,76,9,0,0,...,NotMarried,English,English,N,N,OtherNotDescribed,Other,0,MCRFFS,Medicare
2,9000567313100270,567313100270,2,1,1,0.142857,83,52,0,0,...,Married,German,Non-English,N,N,OtherNotDescribed,Other,0,MCRFFS,Medicare
3,9000582002300270,582002300270,3,1,1,0.122449,50,13,0,0,...,Married,English,English,N,N,Black/AfricanAm.,Black,0,BCPPO,Commercial
4,9000584744300270,584744300270,1,2,2,0.461538,89,3,0,0,...,NotMarried,Unknown,Non-English,U,unknown,White,White,0,MCRFFS,Medicare

In [11]:
ordertask_med[~ordertask_med['clientvisitguid'].isin(allpatients)]['clientvisitguid'].nunique()

3

In [15]:
## test data number: 295
test_id = alldata[~alldata['clientvisitguid'].isin(ordertask_med['clientvisitguid'])]['clientvisitguid'].unique()

In [16]:
## train data number: 1409
train_id = ordertask_med[ordertask_med['clientvisitguid'].isin(allpatients)]['clientvisitguid'].unique()

In [17]:
print(len(test_id))
print(len(train_id))

295
1409

In [38]:
## find the missing ids in the File Yiye created before for order_task, and delete them from train data
ordertask_med[~ordertask_med['clientvisitguid'].isin(allpatients['ID'])]['clientvisitguid'].unique()

array([1063223500270, 1152827100270, 1241691500270])

In [39]:
missid_ordertask = list(ordertask_med[~ordertask_med['clientvisitguid'].isin(allpatients['ID'])]['clientvisitguid'].unique())

In [40]:
missid_ordertask

[1063223500270, 1152827100270, 1241691500270]

## Export train sequence and test sequence seperately

In [18]:
seq = pd.read_csv(path + "seq_clustering.csv", header = 0)
seq.head()

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
0,1000120800270,V1,V2,V3,V4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000124200270,V1,V5,V1,V4,V6,V1,V1,V7,V6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000155300270,V9,V4,V10,V11,V4,V1,V4,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000634700270,V1,V1,V12,V1,V4,V1,V4,V13,V1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001023900270,V14,V1,V15,V4,V4,V16,V4,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
len(seq)

1696

In [24]:
## the number of seq(1629) is 20 less than that of data2 (1649)
seqid = seq.iloc[:,0].unique()
allpatients[~allpatients['ID'].isin(seqid)].nunique()

ID    9
dtype: int64

In [20]:
train_seq = seq[seq.iloc[:,0].isin(train_id)]
train_seq

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
0,1000120800270,V1,V2,V3,V4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000155300270,V9,V4,V10,V11,V4,V1,V4,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000634700270,V1,V1,V12,V1,V4,V1,V4,V13,V1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1001176600270,V14,V17,V18,V18,V4,V18,V18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1001771000270,V19,V20,V4,V1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1691,999130900270,V169,V4,V6,V1,V4,V6,V16,V54,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1692,999139900270,V14,V265,V1,V22,V1,V1,V4,V55,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1693,999619900270,V1,V2,V4,V11,V4,V4,V4,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1694,999912100270,V1,V169,V6,V4,V4,V4,V4,V1,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1695,999946300270,V1,V22,V24,V18,V4,V84,V18,V18,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
train_seq.to_csv(path + "train_seq_clustering.csv", index=None)

In [22]:
test_seq = seq[seq.iloc[:,0].isin(test_id)]
test_seq

,0,1,2,3,4,5,6,7,8,9,...,368,369,370,371,372,373,374,375,376,377
1,1000124200270,V1,V5,V1,V4,V6,V1,V1,V7,V6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1001023900270,V14,V1,V15,V4,V4,V16,V4,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1002721000270,V1,V21,V20,V6,V4,V4,V4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1004509300270,V14,V1,V25,V4,V23,V4,V4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1005027500270,V14,V6,V1,V6,V26,V27,V1,V22,V1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1636,984201000270,V1,V88,V199,V1,V4,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1646,987295600270,V1,V437,V11,V4,V4,V4,V1,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1665,992285300270,V14,V35,V120,V4,V1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1684,997386100270,V30,V6,V11,V11,V11,V6,V1,V203,V1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1689,998178500270,V14,V1,V30,V16,V1,V4,V1,V4,V4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
test_seq.to_csv(path + "test_seq_clustering.csv", index=None)

#对于每一个clientvisitguid你能看一下有多少order是order set 多少不是 order set吗

In [4]:
order_task

,name,TaskStatusCode,clientvisitguid,clientguid,PerformedFromDtm,createdwhen,ordersetname,enterrole,typecode,userguid
0,"(1,3)-beta-D-glucan (ARUP)",Canceled,616628700270,147701900200,NaN,2014-06-10 12:01:54.797,NaN,PA,Diagnostic,999967693698810
1,"(1,3)-beta-D-glucan (ARUP)",Canceled,652180800270,58059800200,NaN,2014-09-05 09:55:37.583,NaN,Resident,Diagnostic,999974355498810
2,"(1,3)-beta-D-glucan (ARUP)",Canceled,686462600270,6282100200,NaN,2014-12-10 07:04:13.973,NaN,Resident,Diagnostic,999958234698810
3,"(1,3)-beta-D-glucan (ARUP)",Canceled,724610100270,126254300200,NaN,2015-03-30 10:34:58.500,NaN,Resident,Diagnostic,999958233198810
4,"(1,3)-beta-D-glucan (ARUP)",Canceled,776501100270,171873600200,NaN,2015-08-19 14:09:04.450,NaN,None,Diagnostic,7999998648880999
...,...,...,...,...,...,...,...,...,...,...
6537698,Zonisamide Cap,Performed,835401600270,199570000200,2016-03-16 16:51:40.000,2016-02-04 11:47:24.923,NaN,Resident,Medication,999957778098810
6537699,Zonisamide Cap,Performed,835401600270,199570000200,2016-03-28 06:46:37.000,2016-02-04 11:47:24.923,NaN,Resident,Medication,999957778098810
6537700,Zonisamide Cap,Performed,1232743400270,2811200200,2018-09-23 17:27:37.000,2018-09-22 17:33:20.147,NaN,Resident,Medication,999788832998810
6537701,Zonisamide Cap,Performed,1399364500270,240601300200,2016-09-22 17:55:34.000,2016-09-22 12:08:03.937,NaN,NP,Medication,999992442398810
6537702,Zonisamide Level,Performed,1052357800270,152571800200,2014-08-11 10:51:00.000,2014-08-11 10:52:15.323,NaN,Nurse,Diagnostic,8999998908880999

In [9]:
clientvisitguid_order = order_task[order_task['clientvisitguid'].isin(alldata['clientvisitguid'])].groupby(['clientvisitguid'])[['name']].count()

In [10]:
clientvisitguid_order

                 name
clientvisitguid
556943700270      179
561002000270      168
562000000270      288
567313100270     1416
579333200270      634
...               ...
1283883400270     142
1284311200270     162
1284903800270     102
1284909400270      63
1285016600270     135

[1651 rows x 1 columns]

In [20]:
pd.DataFrame(order_task[order_task['clientvisitguid'].isin(alldata['clientvisitguid'])].
                                        groupby(['clientvisitguid'])[['ordersetname']].apply(lambda x: x.notnull().sum()))

                 ordersetname
clientvisitguid
556943700270               15
561002000270               58
562000000270               81
567313100270              164
579333200270              154
...                       ...
1283883400270              34
1284311200270              41
1284903800270              40
1284909400270              30
1285016600270              41

[1651 rows x 1 columns]

In [19]:
clientvisitguid_orderset

                 ordersetname
clientvisitguid
556943700270              179
561002000270              168
562000000270              288
567313100270             1416
579333200270              634
...                       ...
1283883400270             142
1284311200270             162
1284903800270             102
1284909400270              63
1285016600270             135

[1651 rows x 1 columns]

In [15]:
clientvisitguid_order.to_excel(path + '2_clientvisitguid_order_1651.xlsx')
clientvisitguid_orderset.to_excel(path + '2_clientvisitguid_orderset_1651.xlsx')

In [47]:
order_task.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6537703 entries, 0 to 6537702
Data columns (total 10 columns):
name                object
TaskStatusCode      object
clientvisitguid     int64
clientguid          int64
PerformedFromDtm    object
createdwhen         object
ordersetname        object
enterrole           object
typecode            object
userguid            int64
dtypes: int64(3), object(7)
memory usage: 498.8+ MB